*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Roboto', sans-serif;
}

.page-header{
  width: 100%;
  height: 500px;
  background-color: #0c325a;
  background-image: url(../img/oldman.png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 110% 110%;
}
.header-nav{
  width: 85%;
  margin: 0 auto;
  height: 80px;
  line-height: 80px;
}
.header-nav::after{
  content:"";
  display: table;
  clear: both;
}
.nav-left{
  float: left;
}
.nav-right{
  float: right;
}
